.env
.env.backup
.env.production

# devshell
/.direnv

# frontend
auth.json
/node_modules

# logs
npm-debug.log

# cache
/build

# build output
/dist
/main.js
/main.js.map

# editors
/.vscode

# Playwright
/test-results
/playwright-report
/blob-report
/playwright/.cache
/playwright/.auth

# Obsidian
data.json
